In [1]:
import numpy as np
import pandas as pd
from learning_utils import pickle_load

/anaconda3/envs/cogtut/lib/python3.7/site-packages/rpy2/robjects/pandas2ri.py:17: FutureWarning: pandas.core.index is deprecated and will be removed in a future version.  The public classes are available in the top-level namespace.
  from pandas.core.index import Index as PandasIndex

In [2]:
d = "info_v1.0"
d2 = "info_v1.0_data"

In [3]:
import os
from collections import defaultdict
from IPython.display import display
ds = os.listdir(f"results/{d2}")
dis = defaultdict(list)
for d in ds:
    model = int(d.split("_")[-1].split(".")[0])
    dis[model].append(f"results/{d2}/{d}")
data = []
models = list(dis.keys())
for model in models:
    for d in dis[model][:1]:
        sim_data = pickle_load(d)
        info_data = sim_data['info']
        for trial_info_data in info_data:
            for click_info in trial_info_data:
                for c in click_info:
                    data.append([*c, model])
data_df = pd.DataFrame(data, columns=['info', 'node_value', 'pr', 'rpe', 'model'])
display(data_df)

        info  node_value        pr        rpe  model
0      False       -24.0  0.000000  -3.714488   1809
1       True         0.0  0.000000  -1.264550   1809
2      False       -48.0  0.000000 -21.027881   1809
3      False        -2.0  0.000000  -3.415513   1809
4      False         8.0  0.000000   3.842142   1809
...      ...         ...       ...        ...    ...
19784   True        -4.0  9.304364  -1.423685   1729
19785   True       -24.0  9.304364  -0.826195   1729
19786   True       -24.0  9.304364  -0.848941   1729
19787   True        24.0  9.304364  -0.965007   1729
19788   True         0.0  9.304364  -5.768184   1729

[19789 rows x 5 columns]

In [4]:
data_df['info_present'] = data_df['info']
data_df['positive_value'] = data_df['node_value'] > 0
display(data_df)

,info,node_value,pr,rpe,model,info_present,positive_value
0,False,-24.0,0.000000,-3.714488,1809,False,False
1,True,0.0,0.000000,-1.264550,1809,True,False
2,False,-48.0,0.000000,-21.027881,1809,False,False
3,False,-2.0,0.000000,-3.415513,1809,False,False
4,False,8.0,0.000000,3.842142,1809,False,True
...,...,...,...,...,...,...,...
19784,True,-4.0,9.304364,-1.423685,1729,True,False
19785,True,-24.0,9.304364,-0.826195,1729,True,False
19786,True,-24.0,9.304364,-0.848941,1729,True,False
19787,True,24.0,9.304364,-0.965007,1729,True,True
19788,True,0.0,9.304364,-5.768184,1729,True,False

In [5]:
grouped_data_df = data_df.groupby(['info_present', 'positive_value', 'model'])
display(grouped_data_df)

In [6]:
mean_data_df = grouped_data_df.mean().reset_index()
display(mean_data_df)

,info_present,positive_value,model,info,node_value,pr,rpe
0,False,False,1729,False,-19.994962,1.199832,0.223921
1,False,False,1777,False,-30.000000,0.050420,-1.048515
2,False,False,1809,False,-24.081188,0.000000,-1.046166
3,False,True,1729,False,28.945831,12.035462,-1.233807
4,False,True,1777,False,35.737423,6.146012,-0.895322
5,False,True,1809,False,26.388889,0.000000,-0.725432
6,True,False,1729,True,-14.063698,7.608039,-8.704776
7,True,False,1777,True,-15.664702,1.778924,5.642608
8,True,False,1809,True,-13.411894,0.000000,-0.263939
9,True,True,1729,True,11.479058,8.439956,-0.994216
10,True,True,1777,True,12.186551,0.000000,-1.268888
11,True,True,1809,True,9.367434,0.000000,-0.668359

In [7]:
mean_data_df
display(mean_data_df[mean_data_df.model.isin([1777, 1729, 1809])])

,info_present,positive_value,model,info,node_value,pr,rpe
0,False,False,1729,False,-19.994962,1.199832,0.223921
1,False,False,1777,False,-30.000000,0.050420,-1.048515
2,False,False,1809,False,-24.081188,0.000000,-1.046166
3,False,True,1729,False,28.945831,12.035462,-1.233807
4,False,True,1777,False,35.737423,6.146012,-0.895322
5,False,True,1809,False,26.388889,0.000000,-0.725432
6,True,False,1729,True,-14.063698,7.608039,-8.704776
7,True,False,1777,True,-15.664702,1.778924,5.642608
8,True,False,1809,True,-13.411894,0.000000,-0.263939
9,True,True,1729,True,11.479058,8.439956,-0.994216
10,True,True,1777,True,12.186551,0.000000,-1.268888
11,True,True,1809,True,9.367434,0.000000,-0.668359

In [8]:
mean_data_df['rpe_cost'] = mean_data_df['rpe'] + 1

In [9]:
display(mean_data_df)

,info_present,positive_value,model,info,node_value,pr,rpe,rpe_cost
0,False,False,1729,False,-19.994962,1.199832,0.223921,1.223921
1,False,False,1777,False,-30.000000,0.050420,-1.048515,-0.048515
2,False,False,1809,False,-24.081188,0.000000,-1.046166,-0.046166
3,False,True,1729,False,28.945831,12.035462,-1.233807,-0.233807
4,False,True,1777,False,35.737423,6.146012,-0.895322,0.104678
5,False,True,1809,False,26.388889,0.000000,-0.725432,0.274568
6,True,False,1729,True,-14.063698,7.608039,-8.704776,-7.704776
7,True,False,1777,True,-15.664702,1.778924,5.642608,6.642608
8,True,False,1809,True,-13.411894,0.000000,-0.263939,0.736061
9,True,True,1729,True,11.479058,8.439956,-0.994216,0.005784
10,True,True,1777,True,12.186551,0.000000,-1.268888,-0.268888
11,True,True,1809,True,9.367434,0.000000,-0.668359,0.331641