In [67]:
import numpy as np
import pandas as pd
from learning_utils import pickle_load

In [68]:
d = "info_v1.0"
d2 = "info_v1.0_data"

In [69]:
import os
from collections import defaultdict
from IPython.display import display
ds = os.listdir(f"results/{d2}")
dis = defaultdict(list)
for d in ds:
    model = int(d.split("_")[-1].split(".")[0])
    dis[model].append(f"results/{d2}/{d}")
data = []
models = list(dis.keys())
for model in models:
    for d in dis[model][:1]:
        sim_data = pickle_load(d)
        info_data = sim_data['info']
        for trial_info_data in info_data:
            for click_info in trial_info_data:
                for c in click_info:
                    data.append([*c, model])
data_df = pd.DataFrame(data, columns=['info', 'node_value', 'pr', 'rpe', 'model'])
display(data_df)

        info  node_value   pr        rpe  model
0      False         -48  0.0  -2.825771   1809
1      False          -2  0.0  -1.555286   1809
2      False          -2  0.0   0.164716   1809
3       True           8  0.0  -0.999850   1809
4       True           8  0.0  -3.414328   1809
...      ...         ...  ...        ...    ...
17370  False          -4  0.0  -1.218897   1729
17371   True         -24  0.0   6.937722   1729
17372  False          -4  0.0 -15.827108   1729
17373  False           2  0.0  11.337788   1729
17374   True          -2  0.0  -0.957509   1729

[17375 rows x 5 columns]

In [70]:
display(data_df)

        info  node_value   pr        rpe  model
0      False         -48  0.0  -2.825771   1809
1      False          -2  0.0  -1.555286   1809
2      False          -2  0.0   0.164716   1809
3       True           8  0.0  -0.999850   1809
4       True           8  0.0  -3.414328   1809
...      ...         ...  ...        ...    ...
17370  False          -4  0.0  -1.218897   1729
17371   True         -24  0.0   6.937722   1729
17372  False          -4  0.0 -15.827108   1729
17373  False           2  0.0  11.337788   1729
17374   True          -2  0.0  -0.957509   1729

[17375 rows x 5 columns]

In [71]:
pd.options.display.max_rows = 10000
data_df['info_present'] =  ~data_df['info']
data_df['positive_value'] = data_df['node_value'] > 0
display(data_df)

        info  node_value   pr        rpe  model  info_present  positive_value
0      False         -48  0.0  -2.825771   1809          True           False
1      False          -2  0.0  -1.555286   1809          True           False
2      False          -2  0.0   0.164716   1809          True           False
3       True           8  0.0  -0.999850   1809         False            True
4       True           8  0.0  -3.414328   1809         False            True
...      ...         ...  ...        ...    ...           ...             ...
17370  False          -4  0.0  -1.218897   1729          True           False
17371   True         -24  0.0   6.937722   1729         False           False
17372  False          -4  0.0 -15.827108   1729          True           False
17373  False           2  0.0  11.337788   1729          True            True
17374   True          -2  0.0  -0.957509   1729         False           False

[17375 rows x 7 columns]

In [72]:
grouped_data_df = data_df.groupby(['info_present', 'positive_value', 'model'])
display(grouped_data_df)

In [73]:
mean_data_df = grouped_data_df.mean().reset_index()
display(mean_data_df)

,info_present,positive_value,model,info,node_value,pr,rpe
0,False,False,1729,True,-19.659259,0.000000,-1.193453
1,False,False,1777,True,-18.524263,0.000000,3.344017
2,False,False,1809,True,-19.583946,0.000000,-0.227827
3,False,True,1729,True,11.363701,0.000000,-1.120000
4,False,True,1777,True,10.741325,0.000000,-12.052545
5,False,True,1809,True,9.292020,0.000000,-0.059896
6,True,False,1729,False,-19.287933,0.276763,-0.938750
7,True,False,1777,False,-18.735892,0.900677,2.104945
8,True,False,1809,False,-22.691162,0.000000,-0.548551
9,True,True,1729,False,28.363525,4.307236,-0.658865
10,True,True,1777,False,27.149310,8.061481,1.707506
11,True,True,1809,False,26.035179,0.000000,-0.561292

In [74]:
mean_data_df
display(mean_data_df[mean_data_df.model.isin([1777, 1729, 1809])])

,info_present,positive_value,model,info,node_value,pr,rpe
0,False,False,1729,True,-19.659259,0.000000,-1.193453
1,False,False,1777,True,-18.524263,0.000000,3.344017
2,False,False,1809,True,-19.583946,0.000000,-0.227827
3,False,True,1729,True,11.363701,0.000000,-1.120000
4,False,True,1777,True,10.741325,0.000000,-12.052545
5,False,True,1809,True,9.292020,0.000000,-0.059896
6,True,False,1729,False,-19.287933,0.276763,-0.938750
7,True,False,1777,False,-18.735892,0.900677,2.104945
8,True,False,1809,False,-22.691162,0.000000,-0.548551
9,True,True,1729,False,28.363525,4.307236,-0.658865
10,True,True,1777,False,27.149310,8.061481,1.707506
11,True,True,1809,False,26.035179,0.000000,-0.561292

In [75]:
mean_data_df['rpe_cost'] = mean_data_df['rpe'] + 1
mean_data_df['pr_rpe'] = mean_data_df['pr'] + mean_data_df['rpe']
mean_data_df['pr_rpe_cost'] = mean_data_df['pr_rpe'] + 1

In [76]:
del mean_data_df['info']
display(mean_data_df)

,info_present,positive_value,model,node_value,pr,rpe,rpe_cost,pr_rpe,pr_rpe_cost
0,False,False,1729,-19.659259,0.000000,-1.193453,-0.193453,-1.193453,-0.193453
1,False,False,1777,-18.524263,0.000000,3.344017,4.344017,3.344017,4.344017
2,False,False,1809,-19.583946,0.000000,-0.227827,0.772173,-0.227827,0.772173
3,False,True,1729,11.363701,0.000000,-1.120000,-0.120000,-1.120000,-0.120000
4,False,True,1777,10.741325,0.000000,-12.052545,-11.052545,-12.052545,-11.052545
5,False,True,1809,9.292020,0.000000,-0.059896,0.940104,-0.059896,0.940104
6,True,False,1729,-19.287933,0.276763,-0.938750,0.061250,-0.661987,0.338013
7,True,False,1777,-18.735892,0.900677,2.104945,3.104945,3.005622,4.005622
8,True,False,1809,-22.691162,0.000000,-0.548551,0.451449,-0.548551,0.451449
9,True,True,1729,28.363525,4.307236,-0.658865,0.341135,3.648372,4.648372
10,True,True,1777,27.149310,8.061481,1.707506,2.707506,9.768986,10.768986
11,True,True,1809,26.035179,0.000000,-0.561292,0.438708,-0.561292,0.438708